In [15]:
import pandas as pd
import os
import glob
import numpy as np
import datetime

In [16]:
df = pd.DataFrame()
for mois in ['201903','201904','201905','201906']:
    df = df.append(pd.read_csv(mois+"-citibike-tripdata.csv", low_memory=False), ignore_index=False)

In [17]:
df['starttime'] = pd.to_datetime(df['starttime'], format='%Y-%m-%d %H:%M:%S')
clean_2019 = df[['starttime','start station name']]
clean_2019['starttime'] = clean_2019['starttime'].dt.date

citibike_2019 = pd.DataFrame(clean_2019.starttime.value_counts().reset_index().values, columns=['Date', 'trip'])
citibike_2019 = citibike_2019.sort_values(by='Date')
citibike_2019

# cleaner_2019 = clean_2019[['starttime','start station name']]
# cleaner_2019

# df.rename(columns={'starttime':'Date'}, inplace=True)
# df.rename(columns={'start station name':'Location'}, inplace=True)

# clean_2019 = df.drop([ 'tripduration','stoptime','start station id', 'start station latitude', 'start station longitude', 'end station name','end station id', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year','gender' ], axis=1)
# clean_2019.head()

<ipython-input-17-afd867674af3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_2019['starttime'] = clean_2019['starttime'].dt.date

           Date   trip
113  2019-03-01  30233
119  2019-03-02  18001
115  2019-03-03  23239
114  2019-03-04  28421
103  2019-03-05  37097
..          ...    ...
2    2019-06-26  83301
6    2019-06-27  81577
12   2019-06-28  78682
55   2019-06-29  62714
53   2019-06-30  63570

[122 rows x 2 columns]

In [22]:
# clean_2019['Date'] = clean_2019['Date'].dt.date
# cleaner_2019=clean_2019[['Date','Location']]
# cleaner_2019.head()

In [23]:
# clean_2019.describe()
# clean_2019.dtypes

In [24]:
# clean_2019.shape

In [25]:
# clean_2019.sort_values(by=['Date'])

In [26]:
# clean_2019['trip'] = clean_2019.index
# clean_2019

# # clean_2019['trips'] = np.arrange(len(clean_2019))
# # clean_2019

In [34]:
citibike_2019.to_csv('citi_2019.csv')
citibike_2019

           Date   trip
113  2019-03-01  30233
119  2019-03-02  18001
115  2019-03-03  23239
114  2019-03-04  28421
103  2019-03-05  37097
..          ...    ...
2    2019-06-26  83301
6    2019-06-27  81577
12   2019-06-28  78682
55   2019-06-29  62714
53   2019-06-30  63570

[122 rows x 2 columns]

In [29]:
# citibike_2019 = pd.DataFrame(clean_2019.Date.value_counts().reset_index().values, columns=['Date', 'trip'])
# citibike_2019 = citibike_2019.sort_values(by='Date')
# citibike_2019